### How to modify an existing DataFrame ??


Modification Involves -
======================

Adding columns to a DataFrame

Using lambda functions to calculate complex quantities

Renaming columns

In [ ]:
# Question

Using Pandas, it’s important that we have the ability to modify dataframes when needed.

These are some of the most common reasons where you might need to modify dataframes in Pandas.

    
1. Adding a new row to the dataframe.
==================================
One important reason for modification is when we need to add a new entry to the table, which is usually referred to as a row.

2. Adding a new column.
==================================
In Pandas, columns are similar to columns as used in SQL databases. They allow us to have similar values that fall under different columns. A common modification of a dataframe is adding a new column if we are expanding the dataframe to include more columns to add more information.

3. Renaming a column.
==================================
We may need to rename a column to something else that makes the data more clear to users. For example, if we had a dataframe of information regarding movies, and the column name for the movie titles was simply called “name”, this might not be obvious. We might rename the column to something clearer like “movie_title”.

4. Modifying a specific row of data.
==================================
We sometimes need to update a specific row, or even multiple rows, in a dataframe.

In [2]:
import pandas as pd

In [6]:
orders_df = pd.read_csv(r"D:\GIT_Repositories\pandas\shoefly_orders_2.csv")
orders_df

,id,first_name,last_name,email,shoe_type,shoe_material,shoe_color
0,74970,Albert,Crane,ACrane1998@gmail.com,ballet flats,fabric,white
1,28140,Lauren,Wise,LWise1972@gmail.com,Sandals,fabric,black
2,16841,Bryan,Maldonado,Bryan.Maldonado@gmail.com,STILLETTOS,fabric,navy
3,19695,Nancy,Talley,NTalley1988@gmail.com,wedges,fabric,black
4,61287,Catherine,Brown,CBrown1981@gmail.com,Boots,faux-leather,white
5,57141,Doris,Newton,DN6902@gmail.com,Sandals,fabric,navy
6,52132,Billy,Mcintyre,BM6854@hotmail.com,wedges,faux-leather,navy
7,25486,Sarah,Kaufman,SK8490@gmail.com,Sandals,leather,navy
8,12421,Susan,Leblanc,SusanLeblanc40@outlook.com,CLOGS,fabric,red
9,36234,Benjamin,Newton,BenjaminNewton59@aol.com,CLOGS,faux-leather,navy